
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Staatliches&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Caption', sans-serif;
    box-sizing: border-box;
    color: #262626;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#max-width {
    max-width: 900px;
}

header button {
    font-weight: 900;
    background-color: #515151;
    color: white;
    border: none;
    padding: 15px 35px;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* MAIN SECTION */

.first-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

main h2 {
    font-size: 40px;
    text-align: center;
}

main p {
    text-align: center;
}

main button {
    background-color: #515151;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 70px;
    color: white;
    border: none;
}

/* SECOND SCREEN */

select {
    background-color: #262626;
    color: white;
    padding: 10px;
    border: none;
}

option {
    color: white;
}

input[type="text"] {
    background-color: #d0d0d0;
    border: none;
    padding: 10px;
}

#second-screen {
    background-color:#ececec ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#second-screen h2 {
 font-size: 30px;
 margin-top: 50px;
}

.second-screen-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    align-self: center;
    height: 100%;
    margin-bottom: 200px;
}

.input-general-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.input-general-section div p {
    margin-bottom: 10px;
}

.divider {
    height: 350px;
    width: 1px;
    background-color: #707070;
}

.output-general-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.bottom-output-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}